@font-face {
  font-family: CaesarDressing;
  src: url("../fonts/CaesarDressing-Regular.ttf");
}

@font-face {
  font-family: gentium-regular;
  src: url("../fonts/gentium-book-basic.regular.ttf");
}

html { 
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../images/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #D7BB99;
}

body {
  margin: 0;
}


/* Main content */
.content {
  margin-top: 200px; /* Add a top margin to avoid content overlay */

  padding: 0% 5%;
  width: 50%;

  font-family: gentium-regular;
  font-size: 200%;
} 